body {
    background-image: linear-gradient(125deg, #F5E8C7, #818FB4);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    border: 2px solid rgb(0, 0, 0);
    width: 800px;
    /* max-width: 100%; */
    height: 500px;
    background-color: #B3A492;
    padding: 5%; 
   margin-top: 50px; 
   margin-top: 50px; 
   margin-top: 50px; 
   margin-top: 50px; 
   box-shadow: 5px 10px 20px #676f6f;
    
}


.container h1 span{
    color: #016A70;
    
}



#qrtext{
    background-color: #DADDB1;
    height: 75px;
    padding: 5px;
    width: 400px;
    border-radius: 20px;
    outline: none;
    font-size: 21px;
}


#qrtext::placeholder{
    color: #635b32;
    font-size: 21px;
    justify-content: center;
    align-items: center;
}

#imgbox{
    width: 1100px;
    border-radius: 5px;
    max-height: auto;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

#imgbox img{
    width:100%;
    
}

#imgbox.showimg{
    max-width: 200px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
    border-bottom: 2px;
}


#btn{
    background-color: #D6C7AE;
    height: 75px;
    width: 150px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 19px;
    transition: all 0.3s ease-in-out 0s;


}
#btn:hover{
    border: 2px solid black;
    background-color: #6C3428;
    color: #fff;
    box-shadow: 0px 5px 20px #6c6867;
}

#btnremove{
 visibility: hidden;
}

#downloadLink{
    border: 2px solid black;
    background-color: #D6C7AE;
    height: 75px;
    width: 150px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 19px;
    transition: all 0.3s ease-in-out 0s;
    text-decoration: none;
    color: black;
}
#downloadLink:hover{
    border: 2px solid black;
    background-color: #6C3428;
    color: #fff;
    box-shadow: 0px 5px 20px #6c6867;
}
@media screen and (max-width: 992px) {
    .container {
        width: 70%; 
        margin-right: 50px;
        margin-left: 25px;
        margin-bottom: 10px;


        margin-top: 10%; 
    }

    #qrtext {
        width: 100%; 
    }

    #imgbox {
        width: 50%; 
    }

    #btn {
        width: 50%;
    }
    #downloadLink {
        width: 20%;
    }
}
