body {
    background:#222;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    border: 2px solid rgb(0, 0, 0);
    width: 90%;
    max-width: 450px;
    background: linear-gradient(135deg,rgb(128, 51, 0),yellow);
    padding: 5%; 
   margin-top: 50px; 
   margin-top: 50px; 
   margin-top: 50px; 
   margin-top: 50px; 
   box-shadow: 5px 10px 20px #676f6f;
    
}


.container h1 span{
    color: rgb(251, 245, 245);
    
}



#qrtext{
    background-color: #DADDB1;
    height: 75px;
    padding: 5px;
    width: 400px;
    border-radius: 20px;
    outline: none;
    font-size: 21px;
    transition: box-shadow .3s ease-in;
}
#qrtext:hover{
    box-shadow: 0px 10px 20px #171413;
}

#qrtext::placeholder{
    color: #635b32;
    font-size: 21px;
    justify-content: center;
    align-items: center;
}

#imgbox{
    width: 100px;
    border-radius: 5px;
    max-height: auto;
    overflow: hidden;
    transition: max-width 0.4s ease;
}

#imgbox img{
    width:100px;
    
}

#imgbox.showimg{
    max-width: 200px;
    border-bottom: 2px;
}


#btn{
    background-color: red;
    height: 75px;
    width: 150px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 19px;
    transition: all 0.3s ease-in-out 0s;
    color: #fff;

}
#btn:hover{
    border: 2px solid black;
    background-color: rgb(224, 225, 141);
    color: #222;
    box-shadow: 0px 5px 20px #171413;
}

.btnremove{
    visibility:hidden;
}

#downloadLink img{
    width: 5%;
    height: 5%;
}
@media screen and (max-width: 992px) {
    .container {
        width: 70%; 
        margin-right: 50px;
        margin-left: 25px;
        margin-bottom: 10px;


        margin-top: 10%; 
    }

    #qrtext {
        width: 100%; 
    }

    #imgbox {
        width: 50%; 
    }

    #btn {
        width: 50%;
    }
    #downloadLink {
        width: 20%;
    }
}
